body * {
  box-sizing: border-box;
}

body p {
  margin-top: 0;
}

body {
  width: 100%;
  margin: 0;
  height: 100vh;

  .main-container {
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    height: 100%;


    .products-area {
      display: flex;
      flex: 0 0 100%;
      max-width: 1200px;
    }
  }
}

.products-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  &__day {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #fff;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '▲';
      position: absolute;
      left: 5px;
    }

    .product-day-information {
      width: 100%;
      display:flex;
      justify-content: space-between;

      .product-day, .product-count {
        display: inline-block;
      }
    }

    .products-list-information, .products-inner-list {
      display: none;
    }


    &.open {
      &:before {
        content: '▼';
        position: absolute;
        left: 5px;
      }

      .products-list-information {
        width: 100%;
        display: flex;
      }
      .products-inner-list {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
        flex-wrap: wrap;
        border-bottom: 2px solid #eeeeee;
      }
    }
  }
}